.form-login{
    width: 100%;
    max-width: 350px;
    margin: 0px auto;

}
.form-reg{
    width: 100%;
    max-width: 350px;
    margin: 0px auto;
}

.login-input{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.submit-button{
    color: white;
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background: black;
    border-width: inherit;
    margin-top: 10px;
}

.button{
    color: white;
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background: black;
    border-width: inherit;
    margin-top: 10px;
}

.reg-label{
    display: block;
    text-align: left;
    margin-top: 7px;
}

.text-end{
    display: flex;
}

.filter{
    margin-bottom: 10px;
}

.card{
    margin: 10px;
}

.order-cart-item{
    display: flex;
}

.card-text{
    margin-bottom: 5px;
}

.menu-button-group{
    display: flex;
}

.menu-button-group div{
    margin-right: 10px;
}